releases:
  - name: data-web-client
    namespace: sample-services
    createNamespace: true
    chart: '../data-web-client'
    labels:
      app: data-web-client
    installed: true
    set:
      - name: image.repository
        value: '{{ requiredEnv "IMAGE_REPO" }}/data-web-client'
      - name: gcp.projectId
        value: '{{ requiredEnv "GCP_PROJECT_ID" }}'
      - name: gcp.serviceAccountEmail
        value: '{{ requiredEnv "DATA_API_BIGTABLE_CONNECTOR_GCP_SERVICE_ACCOUNT" }}'
      - name: database.instanceConnectionName
        value: '{{ requiredEnv "CLOUD_SQL_INSTANCE_CONNECTION_NAME" }}'
      - name: database.password
        value: '{{ requiredEnv "WEBCLIENT_DB_PASSWORD" }}'
      - name: nextauth.secret
        value: '{{ requiredEnv "NEXTAUTH_SECRET" }}'
      - name: nextauth.url
        value: '{{ requiredEnv "NEXTAUTH_URL" }}'
      - name: keycloak.clientId
        value: '{{ requiredEnv "KEYCLOAK_CLIENT_ID" }}'
      - name: keycloak.clientSecret
        value: '{{ requiredEnv "KEYCLOAK_CLIENT_SECRET" }}'
      - name: keycloak.issuer
        value: '{{ requiredEnv "KEYCLOAK_ISSUER" }}'
      - name: bigtable.instanceId
        value: '{{ requiredEnv "BIGTABLE_INSTANCE_ID" }}'
