{{- if and .Values.keycloak.tls.cert .Values.keycloak.tls.key }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "keycloak.fullname" . | trim  }}-tls
  labels:
{{ include "keycloak.labels" . | indent 4 }}
type: Opaque
data:
  authserver.crt: {{ .Values.keycloak.tls.cert | b64enc }}
  authserver.key: {{ .Values.keycloak.tls.key | b64enc }}

{{- end }}
